.media {
  display: flex;
  justify-content: center;
}

.media-item {
  display: flex;
  padding: 0 1rem;
  flex-direction: column; 
  text-align: center;
  border-right: solid 1px lightgray;
}

.media-item:last-child {
  border-right: none;
}

@media screen and (max-width: 800px) {
  .info-container {
    flex-direction: column;
  }

  .media {
    flex-direction: column;
  }

  .media-item:first-child {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }

  .media-item {
    padding: 0.75rem 0;
  }
}